.darkmode {
  padding: 1em;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
}

.darkmode.footer {
  width: auto;
  margin-bottom: 1em;
}
