.darkmode {
  cursor: pointer;
  width: 100%;
}

.darkmode div {
  padding: 1em;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  box-sizing: border-box;
}

.darkmode.footer {
  width: auto;
  margin-bottom: 1em;
  background: transparent;
  border: 0;
}
