.darkmode {
  cursor: pointer;
  width: 100%;
  background: rgba(var(--main-color-rgb), .2);
  border: 1px solid rgba(var(--main-color-rgb), .2);
  border-radius: 6px;
  color: var(--main-color);
}

.darkmode div {
  padding: 1em;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  box-sizing: border-box;
}

.darkmode.footer {
  background: rgba(var(--main-color-rgb), .1);
  width: auto;
  margin-bottom: 1em;
  border: 0;
  outline: none;
}

.darkmode.footer:focus {
  background: rgba(var(--main-color-rgb), .2);
}

.darkmode.footer:focus svg {
  filter: invert(1);
}
