.darkmode {
  cursor: pointer;
  background: rgba(var(--main-color-rgb), .1);
  border: 1px solid rgba(var(--main-color-rgb), .2);
  border-radius: 6px;
  color: var(--main-color);
  padding: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  &.footer {
    background: rgba(var(--main-color-rgb), .1);
    width: auto;
    border: 0;
    outline: none;
    transition: .3s all;
    &:hover { transform: scale(1.1); }
    &:active { transform: scale(.9); }
    &:focus {
      background: rgba(var(--main-color-rgb), .2);
      transform: scale(1.2);
    }
  }
  div {
    padding: 1em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    box-sizing: border-box;
  }
}
