.App-nav {
  position: relative;
  z-index: 2;
}

.App-nav.active .App-nav-content {
  box-shadow: 10px 0 20px rgba(0,0,0,.2);
  transform: translateX(0);
}

.App-nav-content {
  background: #f2f2f2;
  border-right: 1px solid #e4e4e4;
  color: rgba(0,0,0,.54);
  width: calc(80% - 20px);
  padding: 30px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: .5s all;
  z-index: 99;
}

.App-nav-item {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 0;
  color: #777;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
}

.App-nav-item svg {
  float: left;
}

.App-nav-item span {
  display: block;
  padding-left: 35px;
  text-align: left;
}

.App-nav-item:first-of-type {
  border-radius: 5px 5px 0 0;
}

.App-nav-item:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #ccc;
}

.App-nav-item:hover {
  background: #fff;
}

.App-nav-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  opacity: .8;
  cursor: pointer;
  border: 0;
  background: transparent;
  user-select: none;
}

.App-nav-menu:hover::after,
.App-nav-menu:active::after {
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
  transition: .5s all;
}

.App-nav-menu::after {
  content: '';
  display: block;
  background: #eee;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  transform-origin: top left;
  transition: .2s all;
  opacity: 0;
  z-index: -1;
}

@media (min-width: 800px) {
  .App-nav-content {
    max-width: 300px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: .3s all;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
