.App-config {
  padding: 1em;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  input { cursor: pointer; }
  a {
    box-sizing: border-box;
    display: inline-block;
    padding: 1em;
  }
}
