.App-notfound {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100%;
  padding: 58px 10px 36px 30px;
  position: relative;
  z-index: 1;
  @media (min-width: 601px) {
    min-height: auto;
    padding: 0;
  }
  .highlight { color: var(--main-color-secondary); }
  p { margin: 0; }
  a {
    box-sizing: border-box;
    display: inline-block;
  }
}

.logo {
  background: url('../../assets/logo.svg') no-repeat;
  background-size: contain;
  display: inline-block;
  height: 54px;
  width: 150px;
}

body.notfound {
  background: url('../../assets/robot.png') 80% 30% no-repeat;
}
