.App-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  margin-bottom: 30px;
  position: relative;
}

.App-header:hover h1 {
  opacity: 1;
  transform: scale(1) translateY(-150px);
}

.App-header h1 {
  color: #fff;
  text-shadow: 0 0 150px #000, 0 0 100px #ff0, 0 0 50px #0f0, 0 -2px 15px #0f0;
  user-select: none;
  cursor: none;
  opacity: 0;
  transform: scale(0) translateY(0);
  transform-origin: bottom;
  transition: .5s opacity, 1s transform;
  position: absolute;
}

.App-header a {
  font-size: 12px;
  font-weight: normal;
  color: #777;
  position: absolute;
  top: 5px;
  transform: translateX(100px);
  padding: 0;
  margin: 0;
  user-select: none;
  text-decoration: none;
}

.App-header a:hover {
  color: #61dafb;
}

.App-logo {
  cursor: pointer;
  transition: .3s transform;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App-logo:hover {
  transform: scale(1.05);
}

.App-logo:active,
.App-logo:focus {
  transform: scale(0.94);
}
