
.App-footer {
  background: rgba(0,0,0,.05);
  border-top: 1px solid rgba(var(--main-color-rgb), .1);
  color: rgba(var(--main-color-rgb), .6);
  width: 100%;
  margin-top: 30px;
  padding: 10px 0 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9;
}

.divider {
  border: 0 solid transparent;
  border-top: 1px solid rgba(255,255,255,.1);
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  width: 100%;
  margin-bottom: 1em;
}

.App-footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
}

.App-footer .brasil {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.App-footer .brasil svg {
  margin-right: .5em;
}

.App-footer a {
  color: inherit;
  text-decoration: none;
  transition: .3s all;
  font-size: .9em;
}

.App-footer a:hover {
  color: var(--main-color-primary);
}

@media (max-height: 600px) {
  .App-footer {
    position: relative;
  }
}
