.App-keyboard {
  height: auto;
  padding: 35px 10px 10px;
  margin: 10px;
  background-color: var(--main-bg-color);
  border: 1px solid rgba(var(--main-color-rgb),0.3);
  z-index: 2147483644;
  font-family: arial,sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  opacity: 0;
  transition: .3s all;
  user-select: none;
  pointer-events: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  .move-zone {
    cursor: move;
    font-size: 0;
    height: 33px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .exit {
    border: 0;
    background-color: var(--main-bg-color);
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  .icon {
    margin: 0px;
    background: url(//ssl.gstatic.com/inputtools/images/ita_sprite2.png) no-repeat;
    height: 14px;
    width: 14px;
    opacity: .4;
    font-size: 0;
    line-height: 0;
    display: block;
    filter: Invert(var(--main-invert));
    pointer-events: none;
  }
  .icon-exit {
    background-position: -668px -18px;
  }
  .icon-backspace,
  .icon-capslock,
  .icon-shitf {
    width: 22px;
    height: 17px;
    margin: 0 auto;
    opacity: .667;
  }
  .icon-backspace {
    background-position: -714px -16px;
  }
  .icon-capslock {
    background-position: -614px -66px;
  }
  .icon-shitf {
    background-position: -814px -16px;
  }
  h1 {
    font-size: 14px;
    font-family: arial, sans-serif;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
  }
  .key {
    border: 1px solid rgba(var(--main-color-rgb),0.1);
    min-width: 29px;
    height: 29px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    padding: 1px;
    max-width: 500px;
    min-height: 0px;
    max-height: 50px;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    background-image: linear-gradient(to top, rgba(var(--main-color-rgb),0.2), rgba(var(--main-color-rgb),0.1));
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
    &.hidden {
      pointer-events: none;
      font-size: 0;
    }
    &:hover {
      border-color: rgba(var(--main-color-rgb),0.3);
      color: var(--main-color);
      background-color: var(--main-bg-color);
      background-image: linear-gradient(to top, rgba(var(--main-color-rgb),0.2), rgba(var(--main-color-rgb),0.1));
      box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    }
    &.active,
    &:active {
      border-color: rgba(var(--main-color-rgb),0.3);
      color: var(--main-color);
      background-color: var(--main-bg-color);
      background-image: linear-gradient(to top, rgba(var(--main-color-rgb),0.2), rgba(var(--main-color-rgb),0.1));
      box-shadow: inset 0px 1px 2px rgba(0,0,0,0.4);
      filter: invert(1) brightness(2);
    }
  }
}
