.App-keyboard {
  background-color: var(--main-bg-color-primary);
  border: 1px solid rgba(var(--main-color-rgb),0.15);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  font-family: arial,sans-serif;
  font-size: 14px;
  height: auto;
  left: 0;
  margin: 10px;
  opacity: 0;
  padding: 35px 10px 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: .3s background-color opacity;
  user-select: none;
  z-index: 99;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  .icon-backspace,
  .icon-capslock,
  .icon-shitf {
    height: 17px;
    margin: 0 auto;
    opacity: .667;
    width: 22px;
  }
  .icon-backspace { background-position: -714px -16px; }
  .icon-capslock { background-position: -614px -66px; }
  .icon-shitf { background-position: -814px -16px; }
  h1 {
    cursor: move;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    left: 0;
    line-height: 25px;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .key {
    background-color: rgba(var(--main-color-rgb), .05);
    border-radius: 2px;
    border: 1px solid rgba(var(--main-color-rgb),0.1);
    color: var(--main-color);
    height: 29px;
    margin: 2px;
    max-height: 50px;
    max-width: 500px;
    min-height: 0px;
    min-width: 29px;
    padding: 1px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &.hidden {
      font-size: 0;
      opacity: .5;
      pointer-events: none;
    }
    &:hover {
      background-color: rgba(var(--main-color-rgb), .02);
      border-color: rgba(var(--main-color-rgb),0.3);
      box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
      color: var(--main-color);
    }
    &.active,
    &:active {
      background-color: var(--main-bg-color-primary);
      background-image: linear-gradient(to top, rgba(var(--main-color-rgb),0.2), rgba(var(--main-color-rgb),0.1));
      border-color: rgba(var(--main-color-rgb),0.3);
      box-shadow: inset 0px 1px 2px rgba(0,0,0,0.4);
      color: var(--main-color);
      filter: invert(1) brightness(2);
    }
  }
}
