
.App-search {
  margin: 0 auto;
  max-width: 582px;
  position: relative;
  text-align: center;
  width: calc(100% - 50px);
  .icon-search,
  .icon-clean,
  .icon-voice {
    width: 25px;
  }
  .icon-search {
    fill: var(--main-color);
    left: 12px;
    opacity: 0.45;
    pointer-events: none;
    position: absolute;
    top: 12px;
    width: 20px;
  }
  .label-search { font-size: 0; }
}

.App-search-input {
  background: var(--input-bg-color);
  border-radius: 100px;
  border: 1px solid rgba(var(--main-color-rgb),0.15);
  box-sizing: border-box;
  color: var(--main-color);
  margin-bottom: 20px;
  outline: none;
  overflow: hidden;
  padding: 15px 130px 15px 40px;
  text-overflow: ellipsis;
  transition: .2s all;
  white-space: pre;
  width: 100%;
  &:hover,
  &:focus {
    background: var(--input-bg-color-hover);
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px 0 var(--input-drop-shadow);
  }
}

.App-search .btn {
  &.keyboard, &.clean, &.voice {
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 0;
    height: 47px;
    justify-content: center;
    margin: 0;
    min-width: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 47px;
  }
  &.keyboard { right: 45px; }
  &.voice { right: 5px; }
  &.keyboard, &.voice {
    &:hover, &:focus, &:active {
      box-shadow: none;
      transform: scale(1.2);
    }
  }
  &.clean {
    opacity: 0;
    pointer-events: none;
    right: 90px;
    &:hover, &:focus, &:active {
      box-shadow: none;
    }
    &:hover svg, &:focus svg, &:active svg {
      transform: scale(1.2);
    }
    &:after {
      background: rgba(var(--main-color-rgb),.2);
      content: '';
      display: block;
      height: 60%;
      transform: translateX(10px);
      width: 1px;
    }
    &.active {
      opacity: 1;
      pointer-events: all;
    }
    svg { transition: .3s all; }
  }
}

@media only screen and (max-width: 900px) {
  .App-search .btn.keyboard { display: none; }
  .App-search .btn.clean { right: 50px; }
  .App-search-input { padding: 15px 80px 15px 40px; }
}
