@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2)format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Nwp5MKg.woff2)format('woff2');unicode-range:U+0370-03FF;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Bwp5MKg.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2)format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2)format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2)format('woff2');unicode-range:U+0370-03FF;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt8CwZ-Pw.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2)format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}

.App-login {
  height: auto;
  width: 100%;
  min-height: 100vh;
  padding: 48px 40px 36px;
  border-radius: 8px;
  border: 1px solid rgba(var(--main-color-rgb), .2);
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  @media (min-width: 601px) {
    max-width: 450px;
    min-height: 500px;
  }
  h1 {
    color: var(--main-color);
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
  }
  h1, p:nth-of-type(1) {
    text-align: center;
  }
  img {
    margin: 0 auto;
    display: block;
  }
  a {
    color: var(--main-color-primary);
    letter-spacing: .25px;
    text-decoration: none;
    font-weight: 500;
  }
  .btn {
    background: #eee;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0107142857em;
    text-transform: none;
    padding: 0 24px 0 24px;
    color: #000;
    &.primary {
      background: var(--main-color-primary);
      color: #fff;
      float: right;
      &:hover { background: #1c5fba; }
    }
  }
}

%placeholder-label {
  background: var(--main-bg-color-primary);
  top: 5px;
  transform: scale(.75) translateX(-35px);
  height: 25px;
  padding: 0 4px;
}

.App-login-control {
  position: relative;
  &.error .App-login-label {
    color: #d93025;
  }
  &.error .App-login-input {
    border-color: #d93025;
    box-shadow: 0 0 0 1px #d93025;
  }
  &.placeholder .App-login-label {
    @extend %placeholder-label;
  }
}

.App-login-label {
  bottom: 17px;
  box-sizing: border-box;
  color: #80868b;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  left: 18px;
  line-height: 0;
  position: absolute;
  top: 36px;
  transition: .15s top, .15s transform;
}

.App-login-input {
  background: var(--main-bg-color-primary);
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(var(--main-color-rgb), .2);
  color: var(--main-color);
  font-size: 16px;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
  transition: .3s all;
  &:focus {
    border-color: var(--main-color-primary);
    box-shadow: 0 0 0 1px var(--main-color-primary);
    outline: none;
    & + .App-login-label {
      @extend %placeholder-label;
    }
  }
}

.App-login-error {
  color: #d93025;
  font-size: 12px;
  margin-bottom: 1em;
  svg {
    fill: #d93025;
    margin-right: 8px;
    transform: translateY(2px);
  }
}
