.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  margin-bottom: 30px;
}

.App-link {
  color: #61dafb;
}

.App-search {
  position: relative;
  width: 100%;
  max-width: 582px;
  margin: 0 auto;
}

.App-search .icon-search,
.App-search .icon-voice {
  width: 20px;
}

.App-search .icon-search {
  position: absolute;
  top: 12px;
  left: 12px;
  pointer-events: none;
}

.App-search input {
  border-radius: 100px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 15px 75px 15px 40px;
  width: 100%;
  transition: .2s all;
}

.App-search input:focus {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
  outline: none;
}

.App-search .btn.keyboard,
.App-search .btn.voice {
  background: transparent;
  border: 0;
  font-size: 0;
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 47px;
  top: 0;
}

.App-search .btn.keyboard {
  right: 40px;
}

.App-search .btn.voice {
  right: 12px;
}

.btn {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.App-footer {
  margin-top: 30px;
}
