.App {
  min-height: calc(100vh - 155px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-color-primary);
}

.btn {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: .3s all;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 0 3px 2px rgba(var(--main-color-rgb), .2);
}


@media (max-height: 600px) {
  .App {
    min-height: 600px;
    justify-content: space-between;
  }
}
