body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-bg-color);
  color: var(--main-color);
  transition: .3s all;
}

code { font-family: monospace; }
