:root {
  --main-color: '#fff';
  --main-color-rgb: '255,255,255';
  --main-color-primary: '#1a73e8';
  --main-color-secondar: 'green';
  --main-bg-color: '#333';
  --main-invert: '1';
}

body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-bg-color);
  color: var(--main-color);
  transition: .3s all;
}

code { font-family: monospace; }
