:root {
  --main-color: '#fff';
  --main-color-rgb: '255,255,255';
  --main-color-primary: '#1a73e8';
  --main-color-secondar: 'green';
  --main-bg-color: '#333';
  --main-invert: '1';
}

body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-bg-color);
  color: var(--main-color);
  transition: .3s all;
}

code { font-family: monospace; }

.exit {
  border: 0;
  background-color: var(--main-bg-color);
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.icon {
  margin: 0px;
  background: url(//ssl.gstatic.com/inputtools/images/ita_sprite2.png) no-repeat;
  height: 14px;
  width: 14px;
  opacity: .4;
  font-size: 0;
  line-height: 0;
  display: block;
  filter: Invert(var(--main-invert));
  pointer-events: none;
}

.icon-exit {
  background-position: -668px -18px;
}
